// Conda environments
conda {
    // Enable conda environment creation
    enabled = true
    // Path where conda environments will be created
    cacheDir = "$HOME/.nextflow/conda"
}

docker {
    enabled = true
}

// Execution profiles
profiles {
    // Default profile using conda
    conda {
        process.conda = true
    }
}