// Conda environments
conda {
    // Enable conda environment creation
    enabled = true
    // Path where conda environments will be created
    cacheDir = "$HOME/.nextflow/conda"
}

docker {
    enabled = true
}

// Execution profiles
profiles {
    // Default profile using conda
    conda {
        process.conda = true
    }
}

params {
    // Existing parameters from phenix.nf
    root_dir = "/data/fast/salmonella/isangi/pseudogenes/2024.10.30"
    ref = "/home/phil/salmonella/references/2022.11.29/AE006468.2.fasta"
    ref_gb = "/home/phil/salmonella/references/2022.11.29/AE006468.2.gb"  // Added GenBank reference
    phenix_config = "/home/phil/salmonella/references/2022.11.29/phenix_config.yml"
    output_dir_name = "/data/fast/salmonella/isangi/pseudogenes/2024.10.30"
    
    // Rest of existing parameters
    assemblies = "/data/fast/salmonella/isangi/pseudogenes/2024.10.29/*/raw_data/*.fasta"
    vcf_annotator = "/path/to/vcf-annotator"
    min_overlap = 0.1
    
    // Read simulation parameters
    read_length = 150
    fragment_size = 300
    fragment_sd = 50
    coverage = 30
}
